{:require [hello-world.main]
 :init-fns [hello-world.main/-main]
 :compiler-options {:optimizations :none
                    :pretty-print true
                    ;; root relative because SSR url changes
                    :asset-path "/main.out"
                    :language-in :ecmascript5}}