fieldset {
    padding: 10px;
    border-width: 1px;
}

.truncate {
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block input[type="email"],
.block input[type="number"],
.block input[type="search"],
.block input[type="text"],
.block input[type="tel"],
.block input[type="url"],
.block input[type="password"],
.block textarea,
.block select {
    width: 100%;
}

input[type="text"],
input[type="password"] {
    box-sizing: border-box;
}

input.invalid[type="text"] {
    border-color: red;
}

input:disabled {
    color: graytext;
}
select { background-color: #ffffff; }
select:disabled {
    color:graytext;
    background-color: #efefef;
}

.half-width {
    width: 50%;
    display: inline-block;
}

.ui-table {
    border-spacing: 0 1px;
    width: 100%;
}

.ui-table thead td {
    background-color: #dbdbdb;
    padding: 4px 0 4px 5px;
}

.ui-table thead td:hover {
    background-color: #ebebeb;
}

.ui-table thead td .sort-arrow {
    float: right;
    width: 28px;
    text-align: center;
}

label .help {
    border-bottom: 1px dashed;
    border-color: #94bde1;
    cursor: help;
}

.ui-table td {
    border: 1px solid #a8a8a8;
    background-color: #fff;
    padding: 0;
    line-height: normal;
}

.ui-table > tbody > tr > td {
    border-color: inherit;
}

.ui-table > tbody > tr > td:first-child {
    border-left: 5px solid;
}

.ui-table input {
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
}

.ui-table td.link-cell,
.ui-table td.link-cell:hover {
    background-color: inherit;
}

.ui-table td.link-cell {
    border: none;
    padding: 4px 0 4px 5px;
    width: 40px;
    overflow-x: hidden;
    white-space: nowrap;
}

.forms-list {}
.form {
    margin-bottom: 2px;
}

.field {
    border: 0;
    border-left: 5px solid;
    border-color: inherit;
    padding: 0 0 0 10px;
    display: flex;
}

.field > .hc-label {
    flex: 0 0 100px;
    display: inline-block;
    vertical-align: top;
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
    /* font-size: 12px; */
    line-height: normal;
    text-align: right;
    box-sizing: border-box;
    padding-right: 1em;
    margin: 3px 0;
}
label { font-weight: normal; }

.field input,
.field textarea {
    /* todo merge this with .field > .value */
    border: 1px solid #a8a8a8;
}

.field .code-editor-wrapper {
    border: 1px solid #a8a8a8;
}

.popover-content { max-width: 700px; } /* hydrate errors, forms */
.field .popover-content { max-width: 400px; } /* tooltip? */

.field > .value {
    flex: 1 1 auto;
    display: inline-block;
    vertical-align: text-top;
}

.value > table {
    width: 100%;
}

.value span.text {
    margin: 3px 0;
    min-height: 15px;
    display: inline-block;
    line-height: normal;
    vertical-align: top;
    padding-left: 5px;
}

.anchors {
    /*color: #428bca; this is impacting popover text color; also all of these anchors should be colored now?  */
    /*float: right; for forms we want this but not tables, it should layout block for tables. */
}
button.hf-auto-nav {
    padding: 0;
}

.editable-select > .select {
    display: block;
    overflow: hidden;
}

.editable-select > .anchors {
    float: right;
    padding-left: 3px;
}

.multi-select-group > .form {
    display: block;
    overflow: hidden;
    padding-right: 10px;
}

.multi-select-group > button {
    display: block;
    float: right;
}

.multi-select-group > .editable-select {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: block;
}

.radio-group > * {
    width: auto;
    display: inline-block;
}

.radio-group > label:not(:first-child) { /* horizontal stack */
    margin-left: 0.2em;
}

td > .radio-boolean > .radio-group {
    display: inline-block;
}

label.disabled {
    color: graytext;
}

.table-controls > select {
    width: auto;
}

.link-menu {
    width: 80px;
    border: 0 solid #a8a8a8;
    border-bottom-width: 1px;
}

.link-menu > * {
    display: block;
    border-style: solid;
    border-color: #a8a8a8;
    border-width: 1px 0 0 1px;
}

.link-menu > *:hover {
    background-color: #dbdbdb;
}

.markdown {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}
.markdown blockquote {
    font-size: 1em; /* blockquote font should not be bigger, twbs does it and thats dumb */
    /* add more space around blockquotes e.g. dustingetz.com */
    padding: 5px 20px;
    margin: 20px 0 20px;
}
.markdown img { border: 1px black solid; max-width: 100%; }

a.hf-auto-nav {
    position: relative;
}
a.invalid {
    /*border-bottom: 1px dashed red;*/
}

a.invalid::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 1px;
    left: 0;
    border-bottom: 1px dashed red;
}
